* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    border-radius: 20px;
}

a {
    text-decoration: none;
}


.header{
    background-color: #f2f2f2;
    height: 85px;
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
}
#logo_img{
    height: 60px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

img:hover{
    transform: scale(1.1);
}

.nav_icon{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

span:hover{
    background-color: lightgreen;
    border: 2px solid lightgreen;
    border-radius: 20px;
}


#search_box{
    /* margin-left: -100px; */
    width: 450px;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.3s ease, color 0.5s ease;
}
input:hover{
    font-family: 'Courier New', monospace; 
    font-size: 12px; 
    color: black; 
    background-color: lightgreen;
}
.nav{
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    
}
.nav_icon{
    font-size: 18px;
}



/* BODY */

.body_content{
    background-color: #f2f2f2;
    height: 570px;
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
}

.btn{
    border-radius: 20px;
    padding: 30px;
    margin-left: 60px;
    margin-top: 5px;
    cursor: pointer;
    background-color: white;
    transition: font-family 0.3s ease, font-size 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.btn-s{
    border-radius: 20px;
    padding: 10px;
    margin-left: 60px;
    margin-top: 5px;
    cursor: pointer;
    background-color: white;
    transition: font-family 0.3s ease, font-size 0.3s ease, color 0.3s ease; /* Smooth transition */
}


button:hover {
    font-family: 'Courier New', monospace; /* New font on hover */
    font-size: 15px; /* Optional size change */
    color: black; /* Optional color change */
    background-color: lightgreen;
}


#dropdown{
    margin-left: 95px;
    border-radius: 20px;
}

.patient_controller{
    height: 270px;
    width: 300px;
    padding-top: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
    border: 2px solid black;
    border-radius: 20px;
}

.admin_controller{
    height: 200px;
    margin-top: 15px;
    margin-left: 80px;
    padding-top: 10px;
    margin-right: 80px;
    border: 2px solid black;
    border-radius: 20px;
}
.patient_log{
    height:500px;
    width: 1100px;
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 80px;
    border: 2px solid black;
    border-radius: 20px;
}

#patient_form{
    height:700px;
    border: 2px solid black;
    margin-top: 15px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 20px;
    padding: 20px;
    padding-left: 30px;
    margin-bottom: 100px;
}
.patient_form-label{
    font-size:large;
    padding: 10px;
    margin: 0;
}
.patient_form-control{
    height: 40px;
    width: 650px;
    /* margin:15px;*/
    padding-left: 20px; 
    border-radius: 20px;
}
.form_details{
   /* margin: 10px; */
   width: 60px;
   display: flex;
   flex-direction: column;
}
#description{
    height: 200px;
}
#submit_div{
    margin-top:40px;
    margin-left: 220px;
}
#submit
{
    height: 50px;
    width: 210px;
    border-radius: 20px;
}